streamlit
pandas
requests
beautifulsoup4
selenium
seleniumbase
matplotlib
konlpy
wordcloud
loguru
langchain
langchain-community
openai
faiss-cpu
tiktoken
unstructured
docx2txt
webdriver_manager
transformers
sentence-transformers
